

<div class="center">
  <ul class="all-members">
    <li *ngFor="let member of members" [class.selected]="member === selectedMember" (click)="onSelect(member)">
      <span class="badge">{{member.id}}</span><span>{{member.name}}</span>
    </li>
  </ul>

</div>

<div *ngIf="selectedMember">
<h2>{{ selectedMember.name | uppercase }} Details</h2>
<div><span>id: </span>{{selectedMember.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedMember.name" placeholder="name">
  </label>
</div>
</div>