<div class="outer">
  <div class="middle">
    <div class="ui centered raised very padded container segment centered center aligned">
      <h2 class="ui center aligned icon header">
        <i class="yellow exclamation triangle icon"></i><br />
        4O4 Page Not Found!
      </h2>
      <button routerLink="/" class="ui secondary basic button">
        Home Page
      </button>
      <button routerLink="/login" class="ui positive basic button">
        Login
      </button>
    </div>
  </div>
</div>